fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
pydantic[email]
pydantic_settings
asyncpg
sqlalchemy[asyncio]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
psycopg2-binary
email-validator
pytest
httpx
passlib[bcrypt]
python-jose[cryptography]